/* app css stylesheet */

body {
 	padding: 20px;
}

/*player-list view*/
.player-search {
	position: relative;
	text-align: center;
	margin-left: 40px;
}
.player-search input{
	height: 30px;
	width: 60%;
	text-align: center;
}

.player-address {
	text-decoration: none;
	color: black;
}


.fc-barcelona {
	background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.73) , rgba(19, 31, 58, 1)); /* Standard syntax (must be last) */
}

.fc-bayern-munich {
	background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.73) , white); /* Standard syntax (must be last) */
}

.manchester-city {
	background: rgba(8, 223, 245, 0.73);
}

.real-madrid {
	background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(218, 213, 200, 1) , white); /* Standard syntax (must be last) */
}

.player-thumb {
	list-style: none;
	border: 1px solid gray;
	position: relative;
	height: 50px;
	margin-bottom: 5px;
	cursor: pointer;
}

.player-thumb:hover {
	background: gray;
}

.players-bar {
	height: 50px;
}

.players-bar img {
	display: inline-block;
	height: 50px;
}

.players-bar .name {
	display: inline-block;
	padding-left: 100px;
	height: 50px;
	margin: 0;
	vertical-align: middle;
}

.overall {
	display: inline-block;
	vertical-align: middle;
	float: right;
	font-weight: bold;
	color: rgb(218,165,32);
	
}

/*player-detail view*/


.player-detail-avatar,
.player-detail-headline  {
	display: inline-block;
}

.player-detail-avatar {
	position: relative;
	top: 5px;
}

.player-detail-headline {
	position: relative;
	left: 50px;
	padding: 0 20px 0 20px;
}

.player-detail-nation,
.player-detail-bio {
	display: inline-block;
	margin: 0;
}

.player-detail-nation {
	height: 18px;
	position: relative;
	top: 3px;
}

.player-detail-bio span {
	padding-left: 10px;
}