/* app css stylesheet */

body {
 	padding: 20px;
}

/*player-list view*/
.player-search {
	position: relative;
	text-align: center;
	margin-left: 40px;
}
.player-search input{
	height: 30px;
	width: 60%;
	text-align: center;
}

.player-address {
	text-decoration: none;
	color: black;
}
.players {

}
.player-thumb {
	list-style: none;
	border: 1px solid gray;
	position: relative;
	height: 50px;
	margin-bottom: 5px;
	cursor: pointer;
}

.player-thumb:hover {
	background: gray;
}

.players-bar {
	height: 50px;
}

.players-bar img {
	display: inline-block;
	height: 50px;
}

.players-bar .name {
	display: inline-block;
	padding-left: 100px;
	height: 50px;
	margin: 0;
	vertical-align: middle;
}

.overall {
	display: inline-block;
	vertical-align: middle;
	float: right;
	font-weight: bold;
	color: rgb(218,165,32);
	
}